<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/i1.png">

    <title>Add Client</title>
</head>
<body>
    <form method = 'post' action = '/post_client'>
        <h3>Client Info</h3>
        ID<br>
        <input type = "int" name = "id_c" /></br>
        
        Company Name<br>
        <input type = 'text' name = "name_c" ><br>
        
        Country<br>
        <input type = "text" name = "country_c" /><br>
        
        Size<br>
        <input type = "int" name = "size_c" /><br>

        Adress<br>
        <input type = "text" name = "addr_c" /><br>

        Client Since<br>
        <input type = "int" name = "since_c" /><br>

        Length of Work<br>
        <input type = 'int' name = 'len_c' /><br>

        Contact<br>
        <input type = "text" name = "contact_c" /><br>

        <input type = "submit" value = "Submit" /><br>
     </form>
</body>
</html>