<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/i1.png">

    <title>Type ID</title>
</head>
<body>
    <form method = 'post' action = '/del_client'>
        <h3>Client Info</h3>
        ID<br>
        <input type = "int" name = "id_c" /></br>
        <input type = "submit" value = "Submit" /><br>
     </form>
</body>
</html>